.navbar {
	display: none;
	background: rgb(12, 12, 12);
	padding: .8em;
	z-index: 3;
}

/* overrride bootstrap styling */
.navbar-brand {
	padding: 0;
}

.navbar-brand > img {
	height: 100%;
	padding: 4px 12px;
	width: auto;
}
