.intro-container {
	width: 100%;
	/* display: table; */
	position: relative;
	margin: 0;
	height: 600px;
  background: #000;
	background: url('../images/big-ridge-opt.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}

.intro-header {
	height: auto;
	width: auto;
	padding: 1em;
	color: #fff;
}

.intro-foreground {
	width: 960px;
  height: 733px;
  background-image: url('../images/jamie-doette-opt.png');
	background-position: center;
	background-size: contain;
  position:absolute;
	left: 0;
	bottom: 0;
  top: -83px;
}
